* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* Slate color */

  color: #171717;
  /* font-family: 'Lato', sans-serif; */
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: inherit;
  font-size: 20px;
  margin-left: 80px;
}

nav a {
  font-family: inherit;
}

#profile {
  border: 2px solid #10b981;
  border-radius: 100%;
  margin-left: 200px;
}

.main-header {
  margin-bottom: 150px;
  border-bottom: 1px solid;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-nav a {
  margin-left: 40px;
  color: inherit;
  text-transform: uppercase;
}

.name-nav a:hover {
  color: #f8fafc;
  border-bottom: 1px solid #171717;
  transition: all 300ms;
}

.contact-btn {
  padding: 15px 25px;
  border: none;
  background-color: #171717;
}

.contact-me {
  color: azure;
}

.contact-btn:hover {
  transform: scale(105%);
  cursor: pointer;
  transition: 300ms;
}

a {
  text-decoration: none;
}

/* Flex container: hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
  padding-bottom: 20px;
  padding-top: 8%;
  margin-bottom: 15.5%;
}

.description {
  font-size: 50px;
  margin-right: 10%;
  font-family: inherit;
  line-height: 1.4;
}

.info {
  border-top: 1px solid;
  padding: 30px 100px 30px 100px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  font-family: inherit;
}

.webpage-1 {
  background-color: #f5c53d;
}

.social-med {
  display: flex;
  gap: 35px;
}

.highlight {
  color: #171717;
  font-size: 18px;
  text-transform: uppercase;
}

/* PROJECT SECTION */
h2 {
  font-size: 34px;
  text-transform: uppercase;
  font-family: inherit;
  padding-bottom: 20px;
  margin-top: 5%;
  margin-left: 100px;
  margin-right: 100px;
  border-bottom: 1px solid black;
}

.con {
  margin-top: 20px;
  text-indent: 0;
}

.h-color {
  color: #737373;
}

.h-color span {
  color: #171717;
}

.projects {
  background-color: #fff;
  margin-bottom: 80px;
}

.proj-sec {
  display: flex;
  align-items: center;
  list-style: none;
  position: absolute;
  bottom: 5px;
  top: 125%;
}

.project-name {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 100px;
  position: absolute;
  bottom: 5px;
  left: 0%;
  top: 124%;
}

.social-med a:hover {
  transform: scale(110%);
  transition: 300ms;
}

.project-header {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 30%;
  margin: 10px 100px 0 100px;
}

.repo {
  position: absolute;
  top: 133%;
  left: 65.8%;
}

.repo:hover {
  border-bottom: 1px solid #171717;
  transition: all 300ms;
}
